<!-- Loop over each object in the projects array -->
{{#if logged_in}}
{{#each posts as |p|}}
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <a href="/posts/{{p.id}}">
        <h5 class="card-title postedby" data-text="Click here if you would like to Go to Comments">{{p.title}}
          <span>Posted by: {{p.user.name}} on
            {{format_time
            p.date_created}}</span>
        </h5>
      </a>
      <p class="card-text" id="pcontent">{{p.content}}</p>
    </div>
  </div>
</div>
{{/each}}

{{else}}
{{#each posts as |p|}}
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <a href="/posts/{{p.id}}">
        <h5 class="card-title postedby" data-text="Click here if you would like to Go to Comments">{{p.title}}
          <span>Posted by: {{p.user.name}} on
            {{format_time
            p.date_created}}</span>
        </h5>
      </a>
      <p class="card-text" id="pcontent">{{p.content}}</p>
    </div>
  </div>
</div>
{{/each}}
{{/if}}
